<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/fontawesome.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">My Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ '/publications' | relative_url }}">
                <div class="nav-item-title bg-primary text-light px-3 py-2 rounded">Publications</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ '/cv' | relative_url }}">
                <div class="nav-item-title bg-primary text-light px-3 py-2 rounded">CV</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
      {{ content }}
    </div>
    <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
  </body>
</html>
